
body{
    background-color: coral;
}

.btn1{
    width: 150px;
    height: 150px;
    margin: 2%;
    border: 0;
    font-size: 1.2em;
    color: aliceblue;
    
}

h1{
    text-align: center;
    margin: 50px;
    font-size: 4em;
    font-family: Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: beige;
}

hr{
    width: 800px;
    color: beige;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
}
#num1,button,input{
    padding: 20px ;
    border: 0;
    font-size: 1.3em;
    width: 150px;
}

#num1{
    width: 800px;
     border-radius:25px;
     color: black;
}
input{
    border: 0;
    border-radius: 0;
    background-color: beige;
}
button{
    background-color: black;
    color: beige;
}
